
*{
    padding: 10; margin: 10;
}
.menu-item .submenu {
    height: 200px;
    width: 300px;
    background: rgba(255, 255, 255, 0.795);
    display: none;
    position: absolute;
    cursor: pointer;
}
.menu-item {
    padding: 16px 32px;
    margin: 4px 2px;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer; 
}
.menu-item:hover {
    background-color: #94a6f5;
}
.content{
	height: 1300px;
	background-color: rgb(190, 204, 255);
}
.text_wrap{
    max-width: 1150px;
    min-width: 320px;
    margin: 0.5 auto;
    padding: 0 80px;
    line-height: 2;
}